# OS & IDEs
.DS_Store
.vscode/
.idea/
*.iml
*.class

# Build artifacts 
target/
out/
*.mips

# Ignore generated Meta-info and Manifests
META-INF/
manifest.txt

# Logs 
*.log
*.db
*.lock

# Other temporary files
*.tmp

# build out
kyr/parser/Lexer.java
kyr/parser/Parser.java
kyr/parser/Symbols.java
