# macOS system files
.DS_Store

# VS Code w
.vscode/

# Build artifacts 
target/
out/
*.mips

# Logs 
*.log
*.db
*.lock

# Other temporary files
*.tmp

# build out
kyr/parser/Lexer.java
kyr/parser/Parser.java
kyr/parser/Symbols.java
